modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "982290146586-sm35n46grbdk1qju6sqftc958qvlgd9l.apps.googleusercontent.com"
MYMEMORY_EMAIL = "hello@himaltohorizon.com"

[agent]
integrations = ["javascript_object_storage:2.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-9f323d20-f5d7-4e59-8300-3fdd7cbc7040"
